
body{ font-family: 'Karla', sans-serif; font-size: 16px; }

/*************************** ENCABEZADO DEL PANEL (VERDE) ******************************/
.panel-header { background: #378c75; padding: 7px; }

.panel-header-texts { float:right; font-size: 12px; color: white; }

.visible-xs > a { padding-left: 13px; }

/*****************************************************************************/
/*************************** SUBMENU CATEGORIAS *****************************/

.category-tile img { width: 100%; height: 100%; }

@media (min-width: 768px) {
	.category-tile {
		position: relative;
		border: 1px solid #000;
		overflow: hidden;
		width: 200px;
		height: 200px;
		margin-bottom: 3px;
		display: inline-block;
	}

	.category-tile span {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
		background-color: #000;
		color: #fff;
		opacity:  .8;
	}

	.category-tile:hover { box-shadow: 0 1px 5px 1px #378c75; }

	.category-container {
	  width: 200px;
		height: 220px;
		margin: 0 10px 25px 10px;
		text-align: center;
		display: inline-block;
	}

	.category-prize {
		color: white;
		background-color: #378C75;
		padding: 5px 12px;
		padding: 5px 12px 8px;
		border-radius:2em;
	}

	.pulsera-applewatch:hover {
	 	padding-left:200px; 
	  background-image: url(../img/items/pa-2x300.png);
	  background-size: 200px 200px;
	}

	.ventilador-usb:hover { 
	 	padding-left:200px; 
	  background-image: url(../img/items/ventilador-2x300.jpg);
	  background-size: 200px 200px;
	}

	.iphone-jack:hover {     
	 	padding-left:200px; 
	  background-image: url(../img/items/split2-300x300.jpg);
	  background-size: 200px 200px;
	}

	.audifonos:hover {   
	 	padding-left:200px; 
	  background-image: url(../img/items/au1-300x300.jpg);
	  background-size: 200px 200px;
	}

	.airpods:hover { 
	 	padding-left:200px; 
	  background-image: url(../img/items/ap1-300x300.jpg);
	  background-size: 200px 200px;
	}

	.poweradd:hover {    
	 	padding-left:200px; 
	  background-image: url(../img/items/poweradd2-300x300.jpg);
	  background-size: 200px 200px;
	}

	.anker-sound-core:hover {    
	 	padding-left:200px; 
	  background-image: url(../img/items/sc2-300x300.jpg);
	  background-size: 200px 200px;
	}

	.p20:hover {   
	 	padding-left:200px; 
	  background-image: url(../img/items/p20-2x300.jpg);
	  background-size: 200px 200px;
	}
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 767px)  {
  .category-tile {
		position: relative;
		border: 1px solid #000;
		overflow: hidden;
		width: 180px;
		height: 180px;
		margin-bottom: 3px;
		display: inline-block;
	}

	.category-tile span {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
		font-size: 14px;
		background-color: #000;
		color: #fff;
		opacity:  .8;
	}

	.category-tile:active { box-shadow: 0 1px 5px 1px #378c75; }

	.category-container {
	  width: 180px;
		height: 200px;
		margin: 0 10px 25px 10px;
		text-align: center;
		display: inline-block;
	}

	.category-prize {
		color: white;
		background-color: #378C75;
		padding: 5px 12px;
		padding: 5px 12px 8px;
		border-radius:2em;
	}
}

/*****************************************************************************/
/*************************** BARRA DE MENU ***********************************/

.menu { background: #eeeeee; background-repeat: repeat-x; border: #e0e0e0 1px solid; }

.nav > li { float:left; } /* colocar cada opcion del menu al lado de otro */

ul, ol { list-style:none; } /* eliminar estilos en las listas */

.nav li a {
	color: #3a3a3a;
	text-decoration:none;
	padding: 10px 16px;
	display:block;
	position: relative;
}
			
.nav li a:hover {background-color:#378c75; color: white;}
			
.nav li ul {
	background-color:#eeeeee; 
	margin: 0px;
	padding: 0px;
	display:none;
	position:absolute;
	z-index: 1;
	width: 215px;
}

.nav li:hover > ul { display:block; border: 1px solid #e0e0e0; }

.checkbtn{
  float: right;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 10px;
	padding-top: 5px;
}

.checkbtn:hover { color: #878682; }

#check { display: none; }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }   
  #hidden-menu {
  	display: none;
  }
  #hidden-menu2 {
  	display: none;
  }
  #hidden-menu3 {
  	display: none;
  }
  #hidden-menu4 {
  	display: none;
  }

  .nav > li {
  	width: 100%;
  	display: block;
  	background-color: #3a3a3a;
  	text-align: center;
  }
  .nav > li a { color: white; }

  .nav > li ul {
  	width: 100%;
  	position: relative;
  	background-color: #5A5959;
  	color: white;
  	float: right;
  }
	.nav .submenu a:focus { background-color:#378c75; }

  .nav li:hover > .children { display:none; }

  .nav li:hover > ul { border: none;  }

   .nav li ul li a:hover {background-color:#4CB69A; border: 1px solid #5A5959; }

  #map-tile { margin-left: auto; margin-right: auto;}

}

/*****************************************************************************/
/*************************** LINKS EXTERNOS *********************************/
a:link, a:visited,  a:active { color: white; text-decoration: none; }
a:hover { color: #e2e2e2; text-decoration: none; }


/*****************************************************************************/
/*************************** SUBPAGINA CONTACTO ******************************/

.submenu-header { font-size: 30px; color: #378c75; font-weight: bolder; padding-bottom: 3px; }

.icons_inf_contact { padding-top: 5px; }

.icons_inf_contact > a { padding-right: 10px; }

.container > .row > .col-sm-6 > p > a { color: #333 }

.container > .row > .col-sm-6 > p > a:hover { color: #378c75; }

.container > .row > .col-sm-6 > div > a { color: #333 }

.container > .row > .col-sm-6 > div > a:hover { color: #378c75; }

#map-tile { height: 300px; width: 400px; padding-left: 0; border: 2px solid #378c75; overflow: hidden; }

#map-tile:hover { box-shadow: 0 1px 5px 1px #cccccc; }

/*****************************************************************************/
/*************************** SUBPAGINA NOSOTROS ******************************/

.submenu-subtitle { font-weight: bolder; font-size: 20px; text-transform: uppercase; text-align: center; padding-bottom: 10px; padding-top: 10px;}
.submenu-texts { text-align: justify; padding-left: 5px; padding-right: 5px;}
.submenu-texts-2 { text-align: left; }
.submenu-texts-3 { background-color: #F5F3F3; margin-top: 10px; margin-bottom: 10px; padding: 5px; font-weight: bolder; font-size: 19px;}


/*****************************************************************************/
/************************** FOOTER O PIE DE PAGINA ****************************/
footer
{
	background-color: #3a3a3a;
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-top: #378c75 5px solid;
	width: 100%;
}

footer div.row { margin-bottom: 25px; }

#footer-words { color: #ffffff; line-height: 1.6; }


